.benefits__desc {
	margin: 0 40px 40px 40px;
	@include font(normal, 400, 16px, 24px);
	opacity: 0.6;
}

// 768px
@media screen and (max-width: 1024px) {
  .benefits__desc {
		margin: 0 30px 30px 30px;
		@include font(normal, 400, 15px, 20px);
	}
}

// 320px
@media screen and (max-width: 600px) {
  .benefits__desc {
		margin: 0 20px 20px 20px;
	}
}
