.preview__image {
	width: 35.42vw;
	aspect-ratio: 1 / 1.704;
	margin-top: -80px;
}

@media screen and (min-width: 1440px) {
  .preview__image {
    max-width: 510px;
		width: 100%;
  }
}

// 768px
@media screen and (max-width: 1024px) {
  .preview__image {
		width: 43.5vw;
		aspect-ratio: 1 / 1.7;
		margin-left: -7vw;
		margin-top: 20px;
		clip-path: inset(0 3.5vw 0);
  }
}

// 320px
@media screen and (max-width: 600px) {
  .preview__image {
		width: 117.5vw;
		aspect-ratio: 1 / 1.72;
		margin: 20px -9.5vw 0;
		clip-path: inset(0 8.625vw 0);
  }
}
