.header {
	@include blackBlock($blackColor, $whiteColor, 98.61vw, 640px, 20px);
	margin: 10px auto 60px;
}

@media screen and (min-width: 1440px) {
  .header {
    width: 1420px;
  }
}

// 768px
@media screen and (max-width: 1024px) {
  .header {
    @include block-size(97.4vw, 602px);
    margin: 10px auto 70px;
  }
}

// 320px
@media screen and (max-width: 600px) {
  .header {
    @include block-size(93.75vw, 898px);
    margin: 10px auto 70px;
		border-radius: 10px;
  }
}
