.feedback__title {
	@include font(normal, 600, 32px, 38px);
	text-align: center;
	width: 45.5%;
}

// 768px
@media screen and (max-width: 1024px) {
	.feedback__title {
		@include font(normal, 600, 26px, 31px);
		width: 100%;
	}
}
