.preview {
	display: flex;
	margin: -80px 0 40px 0;
}

// 768px
@media screen and (max-width: 1024px) {
  .preview {
		margin: -80px 0 -37px 0;
	}
}

// 320px
@media screen and (max-width: 600px) {
  .preview {
		margin: -80px 0 -30px 0;
  }
}
