.preview {
	display: flex;
	justify-content: center;
	margin: -80px 0 40px 0;
	position: relative;
	width: 87.5vw;
	aspect-ratio: 1 / 0.69;
	margin: auto;
}


@media screen and (min-width: 1440px) {
	.preview {
		max-width: 1260px;
		width: 100%;
	}
}

// 768px
@media screen and (max-width: 1024px) {
  .preview {
		margin: -70px 0 135px 2.93vw;
    max-width: 1100px;
	}
}

// 320px
@media screen and (max-width: 600px) {
  .preview {
		width: 100vw;
		aspect-ratio: 1 / 2.008;
		margin: auto;
		margin: -80px auto 50px;
  }

	.preview .slick-dots {
		display: flex;
		justify-content: space-between;
		position: absolute;
		bottom: 30px;
		left: 48%;
		transform: translate(50% 50%);
		z-index: 2;
		padding: 0;
		margin: 0;
		height: 4px;
		width: 20px;
  }
	.preview .slick-dots li {
		list-style-type: none;
		margin: 0;
  }
	.preview .slick-dots button {
		padding: 0;
		margin: 0;
		border: none;
		font-size: 0;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: #D9D9D9;
  }
	.preview .slick-dots li.slick-active button {
		background-color: #212121;
	}
}
