.feedback__info-input {
	@include frame(0, 0, none);
	@include font(normal, 400, 16px, 24px);
	padding: 15px 4.255%;
	width: 91.49%;
	border-radius: 8px;
	background-color: $whiteColor;
}

.feedback__info-input::placeholder {
	color: $textBlackColor;
	opacity: 0.3;
}

.feedback__info-input:focus {
	outline: 1px solid #E4E4E4;
}

.feedback__info-input:-webkit-autofill,
.feedback__info-input:-webkit-autofill:hover,
.feedback__info-input:-webkit-autofill:focus {
	box-shadow: 0 0 0px 1000px #FFF inset;
}

@media screen and (min-width: 1440px) {
	.feedback__info-input {
		width: 430px;
	}
}

// 768px
@media screen and (max-width: 1024px) {
	.feedback__info-input {
		width: 91.49%;
	}
}

// 320px
@media screen and (max-width: 600px) {
  .feedback__info-input {
		padding: 15px 6.25vw;
    font-size: 12px;
  }
}
