.outer__title_place_header {
	margin: 60px 0 28px 0;
	max-width: 650px;
	@include font(normal, 700, 60px, 69px);
}

// 768px
@media screen and (max-width: 1024px) {
  .outer__title_place_header {
		margin: 50px 0 20px 0;
		width: 46.875vw;
		@include font(normal, 700, 33px, 37px);
	}
}

@media screen and (max-width: 767px) {
  .outer__title_place_header {
		width: 40vw;
	}
}

// 320px
@media screen and (max-width: 600px) {
  .outer__title_place_header {
		@include font(normal, 700, 24px, 29px);
		width: 81.25vw;
		margin: 50px 0 14px 0;
	}
}
